.Projects {
    box-sizing: border-box;
    background: var(--initBackground);
    min-height: 100vh;
    color: white;
    margin: 0;
    animation: luminusBackground 10s ease-in-out infinite;
    background-size: 400% 300%;
    padding-top: 3rem;
  }
  @keyframes luminusBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 75%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

.Projects h2{
    margin: 0;
}

.Projects i{
    font-weight: 200;
}
.project-carousel{
    width: 100%;
    padding: 1.6rem;
    height: 40vh;
    display: flex;
    align-items: flex-start;
}
.project_description{
    padding-left: 1rem;
}

@media (min-width: 1000px) {
    .project-carousel {
      height: 60vh;
      padding: 0;
      padding-left: 1.6rem;
    }

  }