.Carousel {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.imagesContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("../../assets/images/1TIENDA.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 1rem;
}

.sr-only{
  visibility: hidden;
}