.GenericCard {
  margin-bottom: 3rem;
  max-width: 300px;
  box-shadow: 1px 5px 6px rgb(12, 12, 12);
  border-radius: 16px;
}

.GenericCard h6 {
  color: #678dfe;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
.GenericCard img {
  width: 300px;
  height: 200px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.cardInfo
h6 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardInfo p {
  text-align: center;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}
